$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$font-family: "Public Sans", sans-serif;
$nodecoration: none;
$containermargin: 0 10%;

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 10%;
}

.btn.btn-request {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: linear-gradient(to right, $lime-green, $bright-cyan);
  color: $white;
}

header {
  padding: 20px 0;
  z-index: 3;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family;

    ul {
      display: flex;
      list-style-type: none;

      li {
        margin: 0 10px;

        a {
          text-decoration: $nodecoration;
          color: $grayish-blue;
        }
      }
    }
  }
}

section#home {
  background-color: $very-light-gray;

  .intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .intro-text {
      padding-top: 5rem;
    }

    .intro-img img {
      max-width: 200%;
      margin-top: -50px;
      z-index: 1;
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
