$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$font-family: "Public Sans", sans-serif;
$nodecoration: none;
$headercolor: $dark-blue;
$gradient: linear-gradient(to right, $lime-green, $bright-cyan);
$breakpoints: (
  "md": 768px,
  "sm": 360px,
);

@mixin mobile {
  @media (min-width: map-get($breakpoints, "sm")) and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  margin: 0 10%;

  @include mobile {
    margin: 0 5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headercolor;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  padding: 1.5rem 0;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  color: $grayish-blue;
  font-weight: 400;
  font-size: 0.6rem;
}

p {
  color: $grayish-blue;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 300;
}

a {
  text-decoration: $nodecoration;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  background: $gradient;
  color: $white;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.6;
  }

  &.btn-header {
    @include mobile {
      display: none;
    }
  }
}

// Header
header {
  padding: 20px 0;
  z-index: 30;
  position: fixed;
  width: 100%;
  background-color: $white;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;

      .nav-item {
        margin: 0 10px;

        @include mobile {
          display: none;
        }

        .nav-link {
          color: $grayish-blue;
          font-size: 0.9rem;

          &:hover {
            color: $dark-blue;
            border-bottom: 3px solid $lime-green;
          }
        }
      }
    }
    .toggle {
      display: none;
      position: absolute;
      top: 15px;
      right: 5%;
      width: 40px;
      height: 40px;
      background-image: url(./images/icon-hamburger.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
      z-index: 10;

      @include mobile {
        display: block;
      }

      &.active {
        background: url(./images/icon-close.svg);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;

        @include mobile {
          display: block;
        }
      }
    }
  }
}

// About
section#home {
  position: relative;
  background-color: $very-light-gray;
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 900px 1000px;
  background-position: 130% bottom;

  @include mobile {
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 500px 450px;
    background-position: center top;
  }

  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      padding-bottom: 2rem;
    }

    .intro-text {
      @include mobile {
        text-align: center;
        order: 2;
      }

      h1 {
        @include mobile {
          padding-top: 1rem;
          font-size: 2.2rem;
        }
      }

      p {
        padding: 1rem 2.5rem 2rem 0;

        @include mobile {
          padding-right: 0;
        }
      }
    }
    .intro-img {
      width: 100%;
      max-width: 100%;

      @include mobile {
        order: 1;
      }

      img {
        position: relative;
        max-width: 130%;
        margin: -3rem 0 0 5rem;
        z-index: 25;

        @include mobile {
          margin: 0;
          order: 1;
          margin-top: -5rem;
          max-width: 100%;
        }
      }
    }
  }
}

// About
section#about {
  position: relative;
  margin-top: -4rem;
  z-index: 20;
  padding: 5rem 0;
  background-color: $light-grayish-blue;

  @include mobile {
    margin-top: 0;
  }

  .about-text {
    padding-bottom: 2rem;
    width: 50%;

    h2 {
      @include mobile {
        font-size: 2rem;
      }
    }

    @include mobile {
      width: 100%;
      text-align: center;
    }

    p {
      padding: 1rem 0;
    }
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .box {
      width: 100%;

      @include mobile {
        text-align: center;
        padding: 0.5rem;
      }

      img {
        max-width: 100%;
      }

      p {
        font-size: 0.85rem;

        @include mobile {
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }
}

// Blog
section#blog {
  background-color: $very-light-gray;
  padding: 5rem 0;

  .articles {
    padding: 3rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .article {
      background-color: $white;
      border-radius: 5px;

      img {
        max-width: 100%;
        height: 200px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @include mobile {
          width: 100%;
        }
      }

      .article-text {
        padding: 1rem;
        padding-bottom: 0;

        @include mobile {
          padding: 1.2rem;
        }

        h6 {
          padding: 1rem 0;
        }

        h4 {
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            color: $lime-green;
          }

          @include mobile {
            font-size: 1.1rem;
          }
        }

        p {
          padding: 1rem 0;
          font-size: 0.7rem;

          @include mobile {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

// Footer
footer {
  background-color: $dark-blue;

  .footer-contents {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @include mobile {
      flex-direction: column;
    }

    li {
      margin: 15px 0;
    }

    a {
      color: $light-grayish-blue;
      font-weight: 300;
      font-size: 0.9rem;

      &:hover {
        color: $lime-green;
      }
    }

    .content-1 {
      .logo {
        filter: invert(2) opacity(1) brightness(2);
        padding-bottom: 2rem;
      }

      .socials {
        letter-spacing: 7px;

        @include mobile {
          padding-bottom: 1rem;
        }

        img {
          background: none;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
            filter: alpha(opacity=50);
          }
        }
      }
    }

    .content-3 {
      @include mobile {
        margin-top: -1rem;
      }
    }

    .content-4 {
      .btn {
        margin-left: 5rem;

        @include mobile {
          margin: 1rem 0 0 0;
        }
      }

      .copyright {
        margin-top: 2rem;

        @include mobile {
          margin-top: 1rem;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: absolute;
  top: 4rem;
  height: 40vh;
  width: 100%;
  z-index: 29;

  @include mobile {
    &.active {
      display: block;
    }
  }

  .modal-body {
    position: relative;
    background-color: $white;
    padding: 2rem;
    border-radius: 5px;
    animation: modalopen 1s;

    @keyframes modalopen {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;

      li {
        padding: 0.5rem 0;

        a {
          color: $dark-blue;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
