$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$font-family: "Public Sans", sans-serif;
$nodecoration: none;
$containermargin: 0 10%;
$headercolor: $dark-blue;

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: 18px;
  scroll-behavior: smooth;
}

.container {
  margin: 0 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headercolor;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  padding-top: 5rem;
}

h2 {
  font-weight: 400;
}

h3 {
  padding: 1.5rem 0;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  color: $grayish-blue;
  font-weight: 400;
  font-size: 0.6rem;
}

p {
  color: $grayish-blue;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 300;
}

a {
  text-decoration: $nodecoration;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  color: $white;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
}

// Header
header {
  padding: 20px 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: $white;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;

      li {
        margin: 0 10px;

        a {
          color: $grayish-blue;
        }
      }
    }
  }
}

// About
section#home {
  background-color: $very-light-gray;
  position: relative;
  overflow-x: hidden;

  .intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .intro-text {
      padding-top: 8rem;
      padding-right: 1rem;

      h1 {
        padding-top: 5rem;
      }

      p {
        padding: 20px 0;
        padding-right: 2.5rem;
      }
    }
    .intro-img {
      width: 100%;
      max-width: 100%;
      overflow-x: visible;

      img {
        max-width: 150%;
        padding-top: -1.5rem;
        padding-left: 5rem;
        z-index: -1;
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        overflow-x: visible;
      }
    }
  }
}

// About
section#about {
  padding: 5rem 0;
  background-color: $light-grayish-blue;

  .about-text {
    padding-bottom: 2rem;
    width: 50%;

    p {
      padding: 1rem 0;
    }
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .box {
      width: 100%;

      img {
        max-width: 100%;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }
}

// Blog
section#blog {
  background-color: $very-light-gray;
  padding: 5rem 0;

  .articles {
    padding: 3rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .article {
      background-color: $white;
      border-radius: 5px;

      img {
        max-width: 100%;
        height: 200px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .article-text {
        padding: 1rem;
        padding-bottom: 0;

        h6 {
          padding: 1rem 0;
        }

        h4 {
          font-size: 1rem;
        }

        p {
          padding: 1rem 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Footer
footer {
  background-color: $dark-blue;

  .footer-contents {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin: 15px 0;
    }

    a {
      color: $light-grayish-blue;
      font-weight: 300;
      font-size: 0.9rem;
    }

    .content-1 {
      .logo {
        filter: invert(2) brightness(2);
        padding-bottom: 2rem;
      }

      .socials {
        letter-spacing: 5px;
      }
    }

    .content-4 {
      .btn {
        margin-left: 5rem;
      }

      .copyright {
        margin-top: 2rem;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
